In [1]:
import contrans
import json
import pprint
import pandas as pd

In [2]:
print(contrans.contrans)

<class 'contrans.contrans'>

In [3]:
contrans_obj = contrans.contrans()

In [4]:
votes = contrans_obj.get_votes()
len(votes)

486664

In [6]:
useragent = contrans_obj.get_useragent()

In [7]:
print(useragent)

python-requests/2.32.3

In [8]:
bioguides = contrans_obj.get_bioguideIDs()
bioguides

                    name       state  district bioguideId
0       McIver, LaMonica  New Jersey      10.0    M001229
1       Evans, Daniel J.  Washington       NaN    E000236
2            Sasser, Jim   Tennessee       NaN    S000068
3       Helmy, George S.  New Jersey       NaN    H001097
4             Ruiz, Raul  California      25.0    R000599
5     De La Cruz, Monica       Texas      15.0    D000594
6       Menendez, Robert  New Jersey       NaN    M000639
7              Carr, Bob    Michigan       8.0    C000178
8           Nowak, Henry    New York      33.0    N000163
9         Pascrell, Bill  New Jersey       9.0    P000096
10       Booker, Cory A.  New Jersey       NaN    B001288
11   Jackson Lee, Sheila       Texas      18.0    J000032
12      Payne, Donald M.  New Jersey      10.0    P000604
13       Gallagher, Mike   Wisconsin       8.0    G000579
14      Symms, Steven D.       Idaho       NaN    S001138
15           Lopez, Greg    Colorado       4.0    L000604
16  Kiggans, Jennifer A.    Virginia       2.0    K000399
17   Strickland, Marilyn  Washington      10.0    S001159
18           Carey, Mike        Ohio      15.0    C001126
19     Rulli, Michael A.        Ohio       6.0    R000619

In [9]:
print(type(bioguides))

<class 'pandas.core.frame.DataFrame'>

In [10]:
pprint.pp(bioguides)

                    name       state  district bioguideId
0       McIver, LaMonica  New Jersey      10.0    M001229
1       Evans, Daniel J.  Washington       NaN    E000236
2            Sasser, Jim   Tennessee       NaN    S000068
3       Helmy, George S.  New Jersey       NaN    H001097
4             Ruiz, Raul  California      25.0    R000599
5     De La Cruz, Monica       Texas      15.0    D000594
6       Menendez, Robert  New Jersey       NaN    M000639
7              Carr, Bob    Michigan       8.0    C000178
8           Nowak, Henry    New York      33.0    N000163
9         Pascrell, Bill  New Jersey       9.0    P000096
10       Booker, Cory A.  New Jersey       NaN    B001288
11   Jackson Lee, Sheila       Texas      18.0    J000032
12      Payne, Donald M.  New Jersey      10.0    P000604
13       Gallagher, Mike   Wisconsin       8.0    G000579
14      Symms, Steven D.       Idaho       NaN    S001138
15           Lopez, Greg    Colorado       4.0    L000604
16  Kiggans, Jennifer A.    Virginia       2.0    K000399
17   Strickland, Marilyn  Washington      10.0    S001159
18           Carey, Mike        Ohio      15.0    C001126
19     Rulli, Michael A.        Ohio       6.0    R000619